<header style="width:100%;position:relative">
  <div style="width:80%;float:right;">
    <h1>Course Notes for Learning Intelligent Systems</h1>
    <h3>Department of Telematic Engineering Systems</h3>
    <h5>Universidad Politécnica de Madrid</h5>
  </div>
        <img style="width:15%;" src="../logo.jpg" alt="UPM" />
</header>

## Introduction

In the previous notebook, we learnt how to use SPARQL by querying DBpedia.

In this notebook, we will use SPARQL on manually annotated data. The data was collected as part of a [previous exercise](../lod/).

The goal is to try SPARQL with data annotated by users with limited knowledge of vocabularies and semantics, and to compare the experience with similar queries to a more structured dataset.

Hence, there are two parts.
First, you will query a set of graphs annotated by students of this course.
Then, you will query a synthetic dataset that contains similar information.

## Objectives

* Experiencing the usefulness of the Linked Open Data initiative by querying data from different RDF graphs and endpoints
* Understanding the challenges in querying multiple sources, with different annotators.

## Tools

See [the SPARQL notebook](./01_SPARQL_Introduction.ipynb#Tools)

Run this line to enable the `%%sparql` magic command.

In [ ]:
from helpers import *

## Exercises

Querying the manually annotated dataset will be slightly different from querying DBpedia.
The main difference is that this dataset uses different graphs to separate the annotations from different students.

**Each graph is a separate set of triples**.
For this exercise, you could think of graphs as individual endpoints.


First, let us get a list of graphs available:

In [ ]:
%%sparql http://fuseki.gsi.upm.es/hotels
    
SELECT ?g (COUNT(?s) as ?count) WHERE {
    GRAPH ?g {
        ?s ?p ?o
    }
}
GROUP BY ?g
ORDER BY desc(?count)

You should see many graphs, with different triple counts.

The biggest one should be http://fuseki.gsi.upm.es/synthetic

Once you have this list, you can query specific graphs like so:

In [ ]:
%%sparql http://fuseki.gsi.upm.es/hotels
    
SELECT *
WHERE {
    GRAPH <http://fuseki.gsi.upm.es/synthetic>{
    ?s ?p ?o .
    }
}
LIMIT 10

There are two exercises in this notebook.

In each of them, you are asked to run five queries, to answer the following questions:

* Number of hotels (or entities) with reviews
* Number of reviews
* The hotel with the lowest average score
* The hotel with the highest average score
* A list of hotels with their addresses and telephone numbers

### Manually annotated data

Your task is to design five queries to answer the questions in the description, and run each of them in at least three graphs, other than the `synthetic` graph.

To design the queries, what you know about the schema.org vocabularies, or explore subjects, predicates and objects in each of the graphs.

Here's an example to get the entities and their types in a graph:

In [ ]:
%%sparql http://fuseki.gsi.upm.es/hotels

PREFIX schema: <http://schema.org/>
    
SELECT ?s ?o
WHERE {
    GRAPH <http://fuseki.gsi.upm.es/35c20a49f8c6581be1cf7bd56d12d131>{
        ?s a ?o .
    }

}
LIMIT 40

### Synthetic dataset

Now, run the same queries in the synthetic dataset.

The query below should get you started:

In [ ]:
%%sparql http://fuseki.gsi.upm.es/hotels
    
SELECT *
WHERE {
    GRAPH <http://fuseki.gsi.upm.es/synthetic>{
    ?s ?p ?o .
    }
}
LIMIT 10

### Optional exercise


Explore the graphs and find the most typical mistakes (e.g. using `http://schema.org/Hotel/Hotel`).

Tip: You can use normal SPARQL queries with `BOUND` and `REGEX` to check if the annotations are correct.

You can also query all the graphs at the same time. e.g. to get all types used:

In [ ]:
%%sparql http://fuseki.gsi.upm.es/hotels

PREFIX schema: <http://schema.org/>
    
SELECT DISTINCT ?o
WHERE {
    GRAPH ?g {
        ?s a ?o .
    }
    {
        SELECT ?g
        WHERE {
           GRAPH ?g {}
           FILTER (str(?g) != 'http://fuseki.gsi.upm.es/synthetic')
        }
    }


}
LIMIT 50

### Discussion

Compare the results of the synthetic and the manual dataset, and answer these questions:

Both datasets should use the same schema. Are there any differences when it comes to using them?

In [ ]:
# YOUR ANSWER HERE

Are the annotations used correctly in every graph?

In [ ]:
# YOUR ANSWER HERE

Has any of the datasets been harder to query? If so, why?

In [ ]:
# YOUR ANSWER HERE

## References

* [RDFLib documentation](https://rdflib.readthedocs.io/en/stable/).
* [Wikidata Query Service query examples](https://www.wikidata.org/wiki/Wikidata:SPARQL_query_service/queries/examples)

## Licence
The notebook is freely licensed under under the [Creative Commons Attribution Share-Alike license](https://creativecommons.org/licenses/by/2.0/).  

© Universidad Politécnica de Madrid.