![](images/EscUpmPolit_p.gif "UPM")

# Course Notes for Learning Intelligent Systems

Department of Telematic Engineering Systems, Universidad Politécnica de Madrid, © Carlos A. Iglesias

## [Introduction to  Preprocessing](00_Intro_Preprocessing.ipynb)

# Duplicated values

There are two possible approaches: **remove** these rows or **filling** them. It depends on every case.

In [11]:
import pandas as pd
import numpy as np

## Filling NaN values
If we need to fill errors or blanks, we can use the methods **fillna()** or **dropna()**.

* For **string** fields, we can fill NaN with **' '**.

* For **numbers**, we can fill with the **mean** or **median** value.

# Fill NaN with ' '
df['col'] = df['col'].fillna(' ')
# Fill NaN with 99
df['col'] = df['col'].fillna(99)
# Fill NaN with the mean of the column
df['col'] = df['col'].fillna(df['col'].mean())

## Propagate non-null values forward or backwards
You can also propagate non-null values forward or backwards by putting
method=’pad’ as the method argument. It will fill the next value in the
dataframe with the previous non-NaN value. Maybe you just want to fill one
value ( limit=1 )or you want to fill all the values.

In [8]:
df = pd.DataFrame(data={'col1':[np.nan, np.nan, 2,3,4, np.nan, np.nan]})

In [7]:
df

   col1
0   NaN
1   NaN
2   2.0
3   3.0
4   4.0
5   NaN
6   NaN

In [9]:
# We fill forward the value 4.0 and fill the next one (limit = 1)
df.fillna(method='pad', limit=1)

   col1
0   NaN
1   NaN
2   2.0
3   3.0
4   4.0
5   4.0
6   NaN

We can also backfilling with **bfill**.

In [10]:
# Fill the first two NaN values with the first available value
df.fillna(method='bfill')

   col1
0   2.0
1   2.0
2   2.0
3   3.0
4   4.0
5   NaN
6   NaN

## Removing NaN values
We can remove them by row or column.

/# Drop any rows which have any nans
df.dropna()
/# Drop columns that have any nans
df.dropna(axis=1)
/# Only drop columns which have at least 90% non-NaNs
df.dropna(thresh=int(df.shape[0] * .9), axis=1)

# References
* [Cleaning and Prepping Data with Python for Data Science — Best Practices and Helpful Packages](https://medium.com/@rrfd/cleaning-and-prepping-data-with-python-for-data-science-best-practices-and-helpful-packages-af1edfbe2a3), DeFilippi, 2019, 
* [Data Preprocessing for Machine learning in Python, GeeksForGeeks](https://www.geeksforgeeks.org/data-preprocessing-machine-learning-python/)

## Licence
The notebook is freely licensed under under the [Creative Commons Attribution Share-Alike license](https://creativecommons.org/licenses/by/2.0/).  

© Carlos A. Iglesias, Universidad Politécnica de Madrid.